@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Miniprojekt.Models.ViewModels
@model CreateResumeVM


<title> Skapa ditt CV </title>
<h2>Skapa ditt CV</h2>

<form asp-controller="input" asp-action="createResume">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <label asp-for="LastName"></label>
    <input asp-for="LastName" />
    <span asp-validation-for="LastName"></span>

    <label asp-for="Address"></label>
    <input asp-for="Address" />
    <span asp-validation-for="Address"></span>

    <label asp-for="PhoneNumber"></label>
    <input asp-for="PhoneNumber" />
    <span asp-validation-for="PhoneNumber"></span>

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>

    <label asp-for="EducationItems"></label>
    <select asp-for="SelectedEducationValue"
            asp-items="Model.EducationItems"></select>
    <span asp-validation-for="SelectedEducationValue"></span>
    <br />
    <input type="submit" value="submit" />
</form>
@section scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}

