@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Miniprojekt.Models.ViewModels
@model CreateResumeVM

<form asp-controller="input" asp-action="createResume">
    <text>Vänligen mata in dina kontaktuppgifter i textfälten nedan </text>
    <br />
    <label asp-for="Name">Namn</label>
    <br />
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <br />

    <label asp-for="LastName">Efternamn</label>
    <br />
    <input asp-for="LastName" />
    <span asp-validation-for="LastName"></span>
    <br />

    <label asp-for="Address">Address</label>
    <br />
    <input asp-for="Address" />
    <span asp-validation-for="Address"></span>
    <br />

    <label asp-for="PhoneNumber">Telefonnummer</label>
    <br />
    <input asp-for="PhoneNumber" />
    <span asp-validation-for="PhoneNumber"></span>
    <br />

    <label asp-for="Email">E-mail</label>
    <br />
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <br />
    <br />
    <label>Välj ett av passande alternativ för din idientitet nedan
    
    </label>
    <br />
    <br />
    <div class="gender-container">
        @foreach (var item in Model.Gender)
        {
            <div class="gender-item">
            <input type="checkbox"
                   name="@nameof(CreateResumeVM.SelectedGenderValues)"
                   value="@item.Value"
                   id="Gender_@item.Value" />
            <label for="Gender_@item.Value">@item.Text</label>
            </div>
        }
    </div>
    <text> Lägg till alla dina avslutade utbildningar nedan</text>
    <br />
    <label asp-for="EducationItems">Utbildningar</label>
    <br />
    <input type="hidden" name="SelectedEducationValue" />

    <select id="edu"
            asp-items="Model.EducationItems"></select>
    <br />
    <label>Valda utbildningar</label>
    <br />
    <span id="selectedNames"></span>
    <br />
    <input type="submit" value="submit" />
</form>
@section scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(function () {
            $("#edu").change(function () {
                console.log(this.options[this.selectedIndex].text);
                let newInput = $("<input>");
                newInput.attr("name", "SelectedEducationValue");
                newInput.attr("type", "hidden");
                newInput.val(this.options[this.selectedIndex].text);
                $("form").append(newInput);

                $("#selectedNames").append($("<div>" + this.options[this.selectedIndex].text + "</div>"))
            });

        })
    </script>
}

