<!DOCTYPE html>

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet"href="~/StyleSheet.css" />
</head>
<body>
    <h2>Skapa ditt CV <img src="~/iconfinder_edit-change-pencil_2931178.png" /></h2>
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts", false)
</body>
</html>

