h2{
    text-align:center;
}
body{
    text-align: center;
    background-color: #ffffb3;
    font-family: 'Libre Franklin', sans-serif;
    color: black;
}

img{
    width: 20px;
}

input{
    font-size: 15px;
}

text{
    font-size: 10px;
    color: black; 
}
div{
    font-size: 15px;
}